{% extends 'layout.html' %}

{% block content %}

<div class="ui segment">
    <div class="content" style="padding: 8px 25px;">
        <h1>Welcome to Power of Word</h1>

        <p>Welcome to Power of Word, where I unravel the impact of language through cutting-edge sentiment analysis.
            My platform provides a unique window into the emotional weight carried by words and sentences in Hungarian
            news.
            Discover how the nuances of language can influence perceptions, emotions, and decisions.</p>

        <h2>How It Works</h2>
        <p>My platform continuously reads and processes news articles from a wide array of Hungarian RSS feeds.
            Utilizing sophisticated natural language processing (NLP) algorithms, analyzing the
            text to determine its sentiment, categorizing it as positive, negative, or neutral.
            My analysis delves deep into the words and phrases used,
            highlighting how specific language choices can shape the tone and influence the reader.</p>

        <h2>Key Features</h2>
        <ul>
            <li><p>Real-Time Sentiment Analysis: Get up-to-the-minute sentiment evaluations of the latest news articles.</p></li>
            <li><p>Comprehensive Sentiment Categories: Understand the emotional tone of articles with clear positive,
                negative, and neutral classifications.</p></li>
            <li><p>Influence Insights: Discover how specific words and phrases can impact reader perception and sentiment.</p></li>
            <li><p>Intuitive Visualizations: Explore sentiment trends and patterns
                through interactive charts and graphs, making it easy to interpret complex data at a glance.</p></li>
            <li><p>Extensive News Coverage: Stay updated with a broad range of Hungarian news sources, ensuring you don't miss any critical updates.</p></li>
        </ul>
    </div>
</div>

{% endblock %}
